#home {
  min-height: 100vh;
  background: #888;
  /* background-image: url("/public/images/home.jpg"); */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  margin: 0px;
  padding: 2rem;
  min-height: 50vh;
  max-width: 100%;
}

h2 {
  margin: 0px;
  padding: 1rem;
}

.text-primary {
  color: #bbb;
}

.bg-primary {
  background-color: #3f51b5;
}

.bg-secondary {
  background-color: #bbb;
}
